.about-us {
  // padding: 50px 187px 100px 187px;
  padding: 50px vw(187, 1920) 100px vw(187, 1920);
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  @include to(1920px) {
    justify-content: flex-start;
  }
  @include to(1440px) {
    padding: 40px 132px 80px 132px;
  }
  @include to(992px) {
    padding: 30px 82px 60px 82px;
  }
  @include to(575px) {
    padding: 15px 20px 30px 20px;
    flex-direction: column;
  }
  padding-left: var(--side-padding) !important;
  padding-right: var(--side-padding) !important;
  &-title {
    h4 {
      font-size: 36px;
      line-height: 100%;
      text-transform: uppercase;
      color: $black;
      width: 273px;
      @include to(1440px) {
        font-size: 30px;
        width: 208px;
      }
      @include to(992px) {
        font-size: 24px;
        width: 113px;
      }
      @include to(575px) {
        font-size: 18px;
        width: 100%;
      }
    }
    p {
      font-size: 18px;
      line-height: 130%;
      color: $black;
      margin-top: 30px;
      width: 136px;
      @include to(1440px) {
        font-size: 16px;
        width: 112px;
        margin-top: 20px;
      }
      @include to(992px) {
        font-size: 12px;
        width: 120px;
        margin-top: 10px;
      }
    }
  }
  &-description {
    // margin-left: 197px;
    // width: 1400px;
    // @include to(1920px) {
    //   margin-left: 197px;
    //   width: 1076px;
    // }
    flex: 1 1 auto;
    margin-left: vw(197, 1920);
    @include to(1440px) {
      margin-left: 127px;
      margin-left: var(--side-padding);
      width: 767px;
    }
    @include to(992px) {
      margin-left: 71px;
      margin-left: var(--side-padding);
      width: 421px;
    }
    @include to(575px) {
      margin-left: 0;
      width: 100%;
    }
    .video-container {
      // width: 1400px;
      // height: 750px;
      // background: $black;
      // position: relative;
      // @include to(1920px) {
      //   width: 1076px;
      //   height: 650px;
      // }
      // @include to(1440px) {
      //   width: 767px;
      //   height: 464px;
      // }
      height: vw(600, 1920);
      display: inline-block;
      width: 100%;

      background: $black;
      position: relative;
      iframe {
        position: static !important;
      }
      @include to(992px) {
        width: 421px;
        height: 254px;
      }
      @include to(575px) {
        width: 100%;
        height: 170px;
        margin-top: 10px;
      }
    }
    p {
      font-size: 48px;
      line-height: 130%;
      color: $black;
      margin-top: 50px;
      @include to(1440px) {
        font-size: 34px;
        margin-top: 40px;
      }
      @include to(992px) {
        font-size: 22px;
        margin-top: 20px;
      }
      @include to(575px) {
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
}
.specialities {
  // padding: 100px 0 100px 187px;
  padding: 100px vw(187, 1920) 100px vw(187, 1920);
  border-bottom: 1px solid #000000;
  position: relative;
  @include to(1440px) {
    padding: 80px 132px 80px 132px;
  }
  @include to(992px) {
    padding: 60px 82px 60px 82px;
  }
  @include to(575px) {
    padding: 30px 20px 30px 20px;
  }
  padding-left: var(--side-padding) !important;
  padding-right: var(--side-padding) !important;
  &-swiper {
    --pl: 21vw;
    padding-left: 21vw;
    padding-left: var(--pl);
    --pl: calc(25% - var(--side-padding));
    position: relative;
    @include from(576px){

      // &:after {
      //   content: '';
      //   position: absolute;
      //   right: calc(100% - var(--pl));
      //   top: -5px;
      //   width: 100vw;
      //   height: calc(100% + 10px);
      //   z-index: 1;
      //   background-color: #fff;
      // }
    }
    @include to(1920px) {
      --pl: 25%;
      --pl: calc(25% - var(--side-padding));
    }
    @include to(1440px) {
      --pl: 25%;
      --pl: calc(25% - var(--side-padding));
    }
    @include to(992px) {
      --pl: 25%;
      --pl: calc(25% - var(--side-padding));
    }
    @include to(575px) {
      --pl: 0;
      padding-top: 42px;
    }
    .swiper-wrapper {
      background: #ffffff;
      z-index: 0;
    }
    .swiper-slide {
      width: 41%;
      @include to(575px) {
        width: 85%;
      }
      &-content {
        width: 100%;
        height: 100%;

        a {
          text-decoration: none;
          //cursor: none;
        }
        img {
          width: 100%;
          height: 637px;
          object-fit: cover;
          @include to(1440px) {
            height: 446px;
          }
          @include to(992px) {
            height: 254px;
          }
          @include to(575px) {
            height: 357px;
          }
        }
        p {
          font-size: 24px;
          line-height: 140%;
          letter-spacing: -0.03em;
          color: $black;
          padding-top: 20px;
          @include to(1440px) {
            font-size: 18px;
          }
          @include to(992px) {
            font-size: 12px;
            padding-top: 10px;
          }
          @include to(575px) {
            font-size: 16px;
          }
        }
      }
    }
    // .slide-title {
    //   width: 25%;
    // }
  }
}
.specialities-title {
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
  width: 293px;
  // position: absolute;
  margin-bottom: 15px;
  z-index: 2;
  @include to(1440px) {
    font-size: 18px;
    width: 208px;
  }
  @include to(992px) {
    font-size: 12px;
    width: 113px;
  }
  @include to(575px) {
    font-size: 18px;
    width: 100%;
    margin-bottom: 0;
  }
}
.team {
  // padding: 100px 187px;
  padding: 100px vw(187, 1920);
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  @include to(1920px) {
    justify-content: flex-start;
  }
  @include to(1440px) {
    // padding: 80px 132px;
    padding: 80px vw(132, 1440);
  }
  @include to(992px) {
    padding: 60px 82px;
  }
  @include to(575px) {
    padding: 30px 20px;
    flex-direction: column;
  }
  padding-left: var(--side-padding) !important;
  padding-right: var(--side-padding) !important;
  &-title {
    h4 {
      font-size: 24px;
      line-height: 150%;
      text-transform: uppercase;
      color: $black;
      width: 273px;
      @include to(1440px) {
        font-size: 18px;
        width: 208px;
      }
      @include to(992px) {
        font-size: 12px;
        width: 113px;
      }
      @include to(575px) {
        font-size: 18px;
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
  &-description {
    // margin-left: 197px;
    // width: 1400px;
    flex: 1 1 40%;
    width: 10vw;
    margin-left: vw(197, 1920);
    margin-left: var(--side-padding);
    // @include to(1920px) {
    //   margin-left: 197px;
    //   width: 1076px;
    // }
    @include to(1440px) {
      // margin-left: 127px;
      // width: 767px;
      margin-left: vw(127, 1440);
      margin-left: var(--side-padding);
    }
    @include to(992px) {
      margin-left: 71px;
      margin-left: var(--side-padding);
      width: 421px;
    }
    @include to(575px) {
      margin-left: 0;
      width: 100%;
    }
    h5 {
      font-size: 48px;
      line-height: 130%;
      color: #000000;
      margin-bottom: 50px;
      @include to(1440px) {
        font-size: 34px;
        margin-bottom: 40px;
      }
      @include to(992px) {
        font-size: 22px;
        margin-bottom: 30px;
      }
      @include to(575px) {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
    p {
      font-size: 24px;
      line-height: 140%;
      letter-spacing: -0.03em;
      @include to(1440px) {
        font-size: 18px;
      }
      @include to(992px) {
        font-size: 12px;
      }
      @include to(575px) {
        font-size: 16px;
      }
    }
    &-swiper {
      margin-top: 50px;
      @include to(992px) {
        margin-top: 20px;
      }
      @include to(575px) {
        margin-top: 15px;
      }
      .team-swiper {
        width: 100%;
        height: 6vw;

        // height: 100%;
        overflow: hidden;

        .swiper-slide {
          text-align: center;
          // font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .plagination-container {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        position: relative;
        @include to(1440px) {
          margin-top: 10px;
        }
        @include to(575px) {
          margin-top: 15px;
        }
        .swiper-button-next,
        .swiper-button-prev {
          z-index: 10;
          cursor: pointer;
          width: 28px;
          height: 20px;

          svg {
            fill: #000000;
            transition: $transition-fuction;
            .stroke {
              fill: #fff;
              stroke: $black;
              transition: $transition-fuction;
            }
          }
          &:hover {
            @include from(992px) {
              svg {
                fill: $red;
                .stroke {
                  stroke: $red;
                }
              }
            }
          }
        }
        .swiper-pagination {
          left: 50%;
          transform: translate(-50%, 0);
          font-size: 24px;
          line-height: 140%;
          letter-spacing: -0.03em;
          color: #000000;
          user-select: none;
          @include to(1440px) {
            font-size: 20px;
          }
          @include to(992px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.clients {
  // padding: 100px 187px 60px 187px;
  padding: 100px vw(187, 1920) 60px vw(187, 1920);
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  @include to(1920px) {
    justify-content: flex-start;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
  }
  @include to(1440px) {
    padding: 80px 132px 54px 132px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
  }
  @include to(992px) {
    padding: 60px 82px 45px 82px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
  }
  @include to(575px) {
    padding: 30px 20px 0 20px;
    flex-direction: column;
  }
  &-title {
    h4 {
      font-size: 24px;
      line-height: 150%;
      text-transform: uppercase;
      color: $black;
      width: 273px;
      @include to(1440px) {
        font-size: 18px;
        width: 208px;
      }
      @include to(992px) {
        font-size: 12px;
        width: 113px;
      }
      @include to(575px) {
        font-size: 18px;
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }
  &-description {
    margin-left: 197px;
    margin-left: var(--side-padding);
    // width: 1400px;
    width: 75%;
    @include to(1920px) {
      margin-left: 197px;
      margin-left: var(--side-padding);
      // width: 1076px;
    }
    @include to(1440px) {
      margin-left: 127px;
      margin-left: var(--side-padding);
      // width: 767px;
    }
    @include to(992px) {
      margin-left: 71px;
      margin-left: var(--side-padding);
      // width: 421px;
    }
    @include to(575px) {
      margin-left: 0;
      width: 100%;
    }
    &-list {
      // display: flex;
      // flex-wrap: wrap;
      column-count: 4;
      column-gap: 100px;
      @include to(1440px) {
        column-gap: 70px;
      }
      @include to(992px) {
        column-gap: 40px;
      }
      @include to(575px) {
        column-count: 2;
        column-gap: 30px;
      }
    }
    &-item {
      // margin: 0 100px 40px 0;
      height: 90px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      cursor: pointer;
      @include from(992px) {
        &:hover {
          img {
            filter: none;
            // transform: scale(1.05);
          }
        }
      }
      @include to(1440px) {
        // margin: 0 71px 26px 0;
      }
      @include to(992px) {
        // margin: 0 39px 25px 0;
        margin-bottom: 20px;
        height: 50px;
      }
      @include to(575px) {
        height: 70px;
      }

      &:nth-child(odd) {
        animation: littleMove var(--moveDuration) linear infinite;
        // @include to(575px) {
        //   &:nth-child(5),
        //   &:nth-child(6) {
        //     animation: littleMoveR var(--moveDuration) linear infinite;
        //   }
        // }
      }

      &:nth-child(even) {
        animation: littleMoveR var(--moveDuration) linear infinite;
        // @include to(575px) {
        //   &:nth-child(3),
        //   &:nth-child(4) {
        //     animation: littleMove var(--moveDuration) linear infinite;
        //   }
        // }
      }

      // &:nth-child(4n) {
      //   @include to(1920px) {
      //     margin-right: 0;
      //   }
      // }
      // &:nth-child(2n) {
      //   @include to(575px) {
      //     margin-right: 0;
      //   }
      // }
      img {
        width: 169px;
        height: 108px;
        height: auto;
        filter: grayscale(1);
        transition: $transition-fuction;
        @include to(1440px) {
          width: 121px;
          // height: 77px;
        }
        @include to(992px) {
          width: 66px;
          // height: 42px;
        }
        @include to(575px) {
          width: 103px;
        }
      }
    }
  }
}
.partners__wrapper {
  --moveDuration: 10s;
}
.reviews {
  // padding: 100px 187px 135px 187px;
  padding: 100px vw(187, 1920) 135px vw(187, 1920);
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  @include to(1920px) {
    justify-content: flex-start;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
  }
  @include to(1440px) {
    padding: 80px 132px 80px 132px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
  }
  @include to(992px) {
    padding: 60px 0 60px 82px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
  }
  @include to(575px) {
    padding: 30px 0 80px 20px;
    flex-direction: column;
    position: relative;
  }
  &-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4 {
      font-size: 24px;
      line-height: 150%;
      text-transform: uppercase;
      color: $black;
      width: 273px;
      @include to(1440px) {
        font-size: 18px;
        width: 208px;
      }
      @include to(992px) {
        font-size: 12px;
        width: 113px;
      }
      @include to(575px) {
        font-size: 20px;
        width: 113px;
      }
    }
    .reviews-plagination-container {
      width: 220px;
      padding-bottom: 16px;
      display: flex;
      justify-content: space-between;
      position: relative;
      @include to(1440px) {
        width: 169px;
        padding-bottom: 0px;
      }
      @include to(992px) {
        width: 138px;
      }
      @include to(575px) {
        width: calc(100% - 40px);
        position: absolute;
        bottom: 30px;
      }
      .swiper-button-next,
      .swiper-button-prev {
        z-index: 10;
        cursor: pointer;
        width: 28px;
        height: 20px;

        svg {
          fill: #000000;
          transition: $transition-fuction;
          .stroke {
            fill: #fff;
            stroke: $black;
            transition: $transition-fuction;
          }
        }
        &:hover {
          @include from(992px) {
            svg {
              fill: $red;
              .stroke {
                stroke: $red;
              }
            }
          }
        }
      }
      .reviews-swiper-pagination {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 24px;
        line-height: 140%;
        letter-spacing: -0.03em;
        color: #000000;
        @include to(1440px) {
          font-size: 18px;
        }
        @include to(992px) {
          font-size: 16px;
        }
      }
    }
  }
  &-description {
    margin-left: 197px;
    // width: 1400px;
    @include to(1920px) {
      margin-left: 197px;
      margin-left: var(--side-padding);
      // width: 1076px;
      // width: calc((100vw - (9.73958vw * 2)) - 197px - 15vw);
      width: 75%;
    }
    @include to(1440px) {
      margin-left: 127px;
      margin-left: var(--side-padding);
      // width: 767px;
    }
    @include to(992px) {
      margin-left: 46px;
      margin-left: var(--side-padding);
      // width: 502px;
    }
    @include to(575px) {
      margin-left: 0;
      width: 100%;
    }
    .reviews-swiper {
      width: 100%;
      height: 100%;
      overflow: hidden;

      .swiper-slide {
        display: flex;
        justify-content: space-between;
        @include to(992px) {
          justify-content: flex-start;
        }
        @include to(575px) {
          overflow-x: auto;
          padding-bottom: 20px;
          // ::-webkit-scrollbar-track {
          //   -webkit-box-shadow: inset 0 0 1px #e2e3e400;
          //   //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          // }

          // /* Handle */
          // ::-webkit-scrollbar-thumb {
          //   background: #000000;
          //   // -webkit-box-shadow: inset 0 0 6px #e2e3e400;
          //   -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
          // }

          // ::-webkit-scrollbar-thumb:window-inactive {
          //   background: #c1c1c1;
          // }

          // ::selection {
          //   background-color: #1a2941;
          //   color: #fff;
          // }
        }
        .card-container {
          width: 550px;
          padding: 5px;
          @include to(1920px) {
            width: 470px;
          }
          @include to(1440px) {
            width: 340px;
          }
          @include to(992px) {
            width: 214px;
            &:first-child {
              margin-right: 25px;
            }
          }
          @include to(575px) {
            width: calc(100% / 2);
            min-width: 200px;
            margin-top: 15px;
          }
          svg {
            width: 56px;
            height: 50px;
            margin-bottom: 10px;
            @include to(1440px) {
              width: 46px;
              height: 40px;
            }
            @include to(992px) {
              width: 35px;
              height: 30px;
            }
          }
          h5 {
            font-size: 48px;
            line-height: 130%;
            color: #000000;
            @include to(1440px) {
              font-size: 34px;
            }
            @include to(992px) {
              font-size: 22px;
            }
            @include to(575px) {
              font-size: 20px;
            }
          }
          p {
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -0.03em;
            color: #000000;
            margin-bottom: 50px;
            @include to(1440px) {
              margin-bottom: 40px;
            }
            @include to(992px) {
              margin-bottom: 30px;
              font-size: 14px;
            }
            @include to(575px) {
              margin-bottom: 15px;
              font-size: 16px;
            }
          }
          .card-description {
            height: 306px;
            overflow: hidden;
            overflow: auto;
            @include to(1440px) {
              height: 200px;
            }
            @include to(992px) {
              height: 160px;
            }
            @include to(575px) {
              height: 154px;
            }
            p {
              font-size: 24px;
              line-height: 140%;
              letter-spacing: -0.03em;
              color: #595959;
              padding-right: 20px;
              margin-bottom: 0;
              @include to(1440px) {
                font-size: 18px;
              }
              @include to(992px) {
                font-size: 14px;
                padding-right: 15px;
              }
            }
          }
          .social-container {
            margin-top: 30px;
            border: 1px solid #000000;
            padding: 16px 30px;
            @include from(1441px){
              width: 85%;
              margin-right: auto;
            }
            @include to(1440px) {
              padding: 12px 20px;
            }
            @include to(575px) {
              margin-top: 15px;
            }

            a {
              text-decoration: none;
              font-family: $default-font2;
              font-size: 18px;
              line-height: 100%;
              letter-spacing: -0.03em;
              color: #000000;
              width: 100%;
              transition: $transition-fuction;
              @include to(1440px) {
                font-size: 16px;
              }
              @include to(992px) {
                font-size: 12px;
              }
              &:hover {
                @include from(992px) {
                  color: $red;
                }
              }
            }
          }
        }
      }
    }
  }
}

.friends {
  // padding: 100px 187px;
  padding: 100px vw(187, 1920);
  border-bottom: 1px solid #000000;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  @include to(1440px) {
    padding: 80px 132px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
  }
  @include to(992px) {
    padding: 60px 82px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
  }
  @include to(575px) {
    padding: 30px 20px;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    @include to(1920px) {
      justify-content: flex-start;
    }
    @include to(575px) {
      flex-direction: column;
    }
  }
  &-title {
    h4 {
      font-size: 24px;
      line-height: 150%;
      text-transform: uppercase;
      color: $black;
      width: 273px;
      @include to(1440px) {
        font-size: 18px;
        width: 208px;
      }
      @include to(992px) {
        font-size: 12px;
        width: 113px;
      }
      @include to(575px) {
        font-size: 18px;
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }
  &-description {
    margin-left: 197px;
    margin-left: var(--side-padding);
    // width: 1400px;
    width: 75%;
    @include to(1920px) {
      // margin-left: 197px;
      // width: 1076px;
    }
    @include to(1440px) {
      // margin-left: 127px;
      // width: 767px;
    }
    @include to(992px) {
      // margin-left: 71px;
      // width: 421px;
    }
    @include to(575px) {
      margin-left: 0;
      width: 100%;
    }
    &-list {
      display: flex;
      @include to(1024px){
        flex-wrap: wrap;
      }
    }
    &-item {
      margin: 0 100px 40px 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        @include from(992px) {
          img {
            filter: none;
          }
        }
      }
      @include to(1440px) {
        margin: 0 70px 26px 0;
      }
      @include to(992px) {
        margin: 0 39px 25px 0;
      }
      @include to(575px) {
        margin: 0 35px 35px 0;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
      &:nth-child(2n) {
        @include to(575px) {
          margin-right: 0;
        }
      }
      img {
        width: 169px;
        filter: grayscale(1);
        height: auto;
        transition: $transition-fuction;
        @include to(1440px) {
          width: 121px;
        }
        @include to(992px) {
          width: 66px;
        }
        @include to(575px) {
          width: 103px;
        }
      }
    }
  }
}
.container-call-back {
  display: grid;
  // grid-template-rows: 30px auto 30px 7px 7px 7px;
  grid-template-rows: 30px 295px 30px 7px 7px 7px;
  grid-template-columns: 30px auto 30px;
  margin-top: 60px;
  width: 1400px;
  width: 75%;
  margin-left: auto;
  margin-right: var(--side-padding);
  @include to(1920px) {
    // width: 1076px;
  }
  @include to(1440px) {
    // grid-template-rows: 20px auto 20px 7px 7px 7px;
    grid-template-rows: 20px 235px 20px 7px 7px 7px;
    grid-template-columns: 20px auto 20px;
    margin-top: 60px;
    // width: 767px;
  }
  @include to(992px) {
    // grid-template-rows: 10px auto 10px 5px 5px 5px;
    grid-template-rows: 10px 130px 10px 5px 5px 5px;
    grid-template-columns: 10px auto 10px;
    margin-top: 35px;
    // width: 421px;
  }
  @include to(575px) {
    // grid-template-rows: 10px auto 10px 5px 5px 5px;
    grid-template-rows: 10px 215px 10px 5px 5px 5px;
    grid-template-columns: 10px auto 10px;
    margin-top: 0;
    width: calc(100% + 40px);
    margin-right: 0;
    margin-left: -20px;
  }
  .horizontal-black {
    grid-column: 2/3;
    grid-row: 1;
    background: $white;
    border: 1px solid #000000;
    z-index: 5;
    width: calc(100% + 2px);
    margin-left: -1px;
  }
  .vertical-black-left {
    grid-column: 1/1;
    grid-row: 2/3;
    background: $white;
    border: 1px solid #000000;
    z-index: 5;
    width: calc(100% + 1px);
    margin-left: -1px;
    height: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-top: -1px;
  }
  .call-back-form {
    grid-column: 1/-1;
    grid-row: 1/-1;
    position: relative;
    overflow: hidden;
    padding: 80px 80px 110px 80px;
    @include to(1440px) {
      padding: 60px 80px 88px 60px;
    }
    @include to(992px) {
      padding: 30px 38px 46px 30px;
    }
    @include to(575px) {
      padding: 30px 20px 60px 20px;
    }
    &-content {
      display: flex;
      align-items: center;
      @include to(575px) {
        flex-direction: column;
      }
      .call-back {
        display: flex;
        flex-direction: column;
        width: 455px;
        margin-right: 100px;
        @include to(1440px) {
          width: 400px;
          margin-right: 70px;
        }
        @include to(992px) {
          width: 360px;
          margin-right: 45px;
        }
        @include to(575px) {
          width: 100%;
          margin-right: 0;
        }
        h4 {
          font-size: 48px;
          line-height: 130%;
          color: #000000;
          margin-bottom: 20px;
          @include to(1440px) {
            font-size: 34px;
          }
          @include to(992px) {
            font-size: 18px;
          }
          @include to(575px) {
            font-size: 20px;
          }
        }
        p {
          width: 370px;
          font-size: 24px;
          line-height: 140%;
          letter-spacing: -0.03em;
          color: #000000;
          @include to(1440px) {
            width: 260px;
            font-size: 18px;
          }
          @include to(992px) {
            width: 167px;
            font-size: 10px;
          }
          @include to(575px) {
            width: calc(100% + 4px);
            font-size: 16px;
          }
        }
      }
    }
  }
  .vertical-black-right {
    grid-column: 3/3;
    grid-row: 2/3;
    background: $white;
    border: 1px solid #000000;
    z-index: 5;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-top: -1px;
  }
  .horizontal-black-bottom {
    grid-column: 2/3;
    grid-row: 3;
    background: $white;
    border: 1px solid #000000;
    z-index: 5;
    width: calc(100% + 2px);
    margin-left: -1px;
  }
  .horizontal-black-bottom1 {
    grid-column: 2/3;
    grid-row: 4;
    background: $white;
    border: 1px solid #000000;
    border-top: none;
    z-index: 5;
    width: 100%;
    width: calc(100% + 2px);
    margin-left: -1px;
  }

  .horizontal-black-bottom2 {
    grid-column: 2/3;
    grid-row: 5;
    background: $white;
    border: 1px solid #000000;
    border-top: none;
    z-index: 5;
    width: calc(100% - 20px);
    margin-left: 10px;
  }
  .horizontal-black-bottom3 {
    grid-column: 2/3;
    grid-row: 6;
    background: $white;
    border: 1px solid #000000;
    border-top: none;
    z-index: 5;
    width: calc(100% - 40px);
    margin-left: 20px;
  }
  .noise {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-image: url(../images/noise.png);
    animation: Noise_grain 7s steps(10) infinite;
    height: 300%;
    left: -50%;
    top: -100%;
    width: 300%;
  }
  .form-button {
    background: none;
    border: none;
    padding: 0%;
    width: 270px;
    height: 74px;
    @include to(575px) {
      width: 100%;
      height: 60px;
    }
    .form-button-footer {
      position: relative;
      width: 270px;
      height: 74px;
      @include to(1440px) {
        width: 192px;
        height: 52px;
      }
      @include to(992px) {
        width: 136px;
        height: 40px;
      }
      @include to(575px) {
        width: 100%;
        height: 60px;
        margin-top: 20px;
      }
    }
    .btn-text {
      font-family: $default-font;
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
      transition: $transition-fuction;
      @include to(1440px) {
        font-size: 16px;
        top: 40%;
        left: 42%;
        transform: translate(-35%, -40%);
      }
      @include to(992px) {
        font-size: 10px;
      }
      @include to(575px) {
        transform: translate(0, -40%);
      }
    }
    .btn-submite {
      width: 100%;
      height: 100%;
    }
    .hover-fill {
      fill: $red;
      transition: $transition-fuction;
    }
    .hover-shadow {
      transition: $transition-fuction;
    }
    &:hover {
      @include from(992px) {
        .hover-fill {
          // fill: $orange;
          fill: $red;
          transform: translate(0, 5px);
        }
        .hover-shadow {
          transform: translate(0, -5px);
        }
        .btn-text {
          transform: translate(-50%, -25%);
          @include to(1440px) {
            transform: translate(-35%, -25%);
          }
        }
      }
    }
  }
}

@keyframes littleMove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes littleMoveR {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
