.equipment-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 100px 187px 60px 187px;
  @include to(1440px) {
    padding: 80px 132px 50px 132px;
  }
  @include to(992px) {
    padding: 30px 82px 50px 82px;
  }
  @include to(575px) {
    padding: 15px 20px 90px 20px;
    flex-direction: column;
    position: relative;
  }
  .title {
    width: 17.5%;
    @include to(575px) {
      width: 100%;
    }
    h4 {
      font-size: 24px;
      line-height: 150%;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 20px;
      @include to(1440px) {
        font-size: 18px;
        margin-bottom: 10px;
      }
      @include to(992px) {
        font-size: 12px;
        width: 113px;
      }
      @include to(575px) {
        font-size: 16px;
        margin-bottom: 15px;
        width: 100%;
      }
    }
  }
  .description {
    width: 70%;
    @include to(575px) {
      width: 100%;
    }
    p {
      // max-width: 1400px;
      margin-left: 200px;
      font-size: 48px;
      line-height: 130%;
      color: #000000;
      @include to(1920px) {
        // width: 1076px;
        margin-left: 0;
      }
      @include to(1440px) {
        // width: 767px;
        font-size: 34px;
      }
      @include to(992px) {
        // width: 421px;
        font-size: 22px;
      }
      @include to(575px) {
        width: 100%;
        font-size: 20px;
      }
    }
  }
}
.equipment-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 187px 40px 187px;
  @include to(1440px) {
    padding: 0 132px 30px 132px;
  }
  @include to(992px) {
    padding: 0 82px 40px 82px;
  }
  @include to(575px) {
    padding: 0 20px 20px 20px;
  }
  .equipment-item:nth-child(odd) {
    margin-right: 60px;
    @include to(1440px) {
      margin-right: 50px;
    }
    @include to(992px) {
      margin-right: 20px;
    }
    @include to(575px) {
      margin-right: 0;
    }
  }
  .equipment-item {
    margin-bottom: 60px;
    width: calc(50% - 31px);
    @include to(1440px) {
      margin-bottom: 50px;
      width: calc(50% - 26px);
    }
    @include to(992px) {
      margin-bottom: 20px;
      width: calc(50% - 11px);
    }
    @include to(575px) {
      margin-bottom: 6px;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .equipment-link {
      text-decoration: none;
      display: grid;
      grid-template-rows: 450px auto 5px 5px 5px;
      grid-template-columns: auto;
      @include to(1440px) {
        grid-template-rows: 320px auto 5px 5px 5px;
      }
      @include to(992px) {
        grid-template-rows: 177px auto 5px 5px 5px;
      }
      .img-container {
        position: relative;
        border: 1px solid #000000;
        border-bottom: none;
        grid-column: 1;
        grid-row: 1;
        overflow: hidden;
        img {
          // transform: scale(0.5);
          object-fit: none;
          transition: $transition-fuction;
          @include to(992px) {
            transform: scale(0.6);
            object-fit: contain;
          }
        }
        .hover-eye {
          position: absolute;
          opacity: 0;
          width: 100px;
          height: 100px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: $transition-fuction;
          @include to(1440px) {
            width: 80px;
            height: 80px;
          }
          @include to(992px) {
            width: 60px;
            height: 60px;
          }
        }
      }
      .text-container {
        grid-column: 1;
        grid-row: 2;
        border: 1px solid #000000;
        padding: 20px;
        font-size: 24px;
        line-height: 140%;
        letter-spacing: -0.03em;
        color: #000000;
        @include to(1440px) {
          padding: 19px 20px;
          font-size: 18px;
        }
        @include to(992px) {
          padding: 10px 20px;
          font-size: 12px;
        }
        @include to(575px) {
          padding: 7px 10px;
          font-size: 16px;
        }
      }
      .line-hover1 {
        grid-column: 1;
        grid-row: 3;
        border: 1px solid #000000;
        border-top: none;
        opacity: 0;
        transition: $transition-fuction;
      }
      .line-hover2 {
        grid-column: 1;
        grid-row: 4;
        border: 1px solid #000000;
        border-top: none;
        opacity: 0;
        // transition: $transition-fuction;
        transition: all 0.3s ease-in-out;
      }
      .line-hover3 {
        grid-column: 1;
        grid-row: 5;
        border: 1px solid #000000;
        border-top: none;
        opacity: 0;
        // transition: $transition-fuction;
        transition: all 0.3s ease-in-out;
      }
    }
    &:hover {
      @include from(992px) {
        .img-container {
          .hover-eye {
            opacity: 1;
          }
          img {
            transform: scale(1.1);
          }
        }
        .line-hover1,
        .line-hover2,
        .line-hover3 {
          opacity: 1;
        }
      }
    }
  }
}

.form-button .btn-equipment {
  @include to(1440px) {
    left: 39% !important;
  }
  @include to(575px) {
    left: 50% !important;
    transform: translate(-50%, -40%) !important;
  }
}
.form-btn-equipment {
  @include to(575px) {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px) !important;
  }
}
// .page-header-content .page-title . {
//   @include to(1076px) {
//     font-size: 100px;
//   }
//   @include to(992px) {
//     font-size: 80px;
//   }
//   @include to(575px) {
//     font-size: 34px;
//   }
// }
