.equipment-more {
  width: 100%;
  padding: 100px 187px;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;

  @include to(1920px) {
    justify-content: flex-start;
  }
  @include to(1440px) {
    padding: 80px 132px;
  }
  @include to(992px) {
    padding: 30px 82px 60px 82px;
  }
  @include to(575px) {
    padding: 15px 20px 30px 20px;
    flex-direction: column;
  }
  .title {
    margin-right: 178px;
    @include to(1440px) {
      margin-right: 127px;
    }
    @include to(992px) {
      margin-right: 71px;
    }
    h4 {
      font-size: 24px;
      line-height: 150%;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 20px;
      width: 293px;
      @include to(1440px) {
        font-size: 18px;
        width: 208px;
      }
      @include to(992px) {
        font-size: 12px;
        width: 113px;
      }
      @include to(575px) {
        font-size: 16px;
        margin-bottom: 15px;
        width: 100%;
      }
    }
  }
  .description {
    width: 1400px;
    margin-left: 200px;
    @include to(1920px) {
      width: 1076px;
      margin-left: 0;
    }
    @include to(1440px) {
      width: 767px;
    }
    @include to(992px) {
      width: 421px;
    }
    @include to(575px) {
      width: 100%;
    }
    h4 {
      font-size: 48px;
      line-height: 130%;
      color: #000000;
      margin-bottom: 30px;
      @include to(1440px) {
        font-size: 34px;
        margin-bottom: 20px;
      }
      @include to(992px) {
        font-size: 22px;
        margin-bottom: 10px;
      }
      @include to(575px) {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
    p {
      font-size: 24px;
      line-height: 140%;
      letter-spacing: -0.03em;
      color: #595959;
      @include to(1440px) {
        font-size: 18px;
      }
      @include to(992px) {
        font-size: 12px;
      }
      @include to(575px) {
        font-size: 16px;
      }
    }
  }
}
.brands {
  padding-bottom: 60px;
  @include to(1440px) {
    padding-bottom: 50px;
  }
  @include to(992px) {
    padding-bottom: 35px;
    padding-top: 60px;
  }
  @include to(575px) {
    padding-bottom: 5px;
    padding-top: 30px;
    .title {
      margin-bottom: 10px;
    }
  }
}

.equipment-more-img {
  width: 100%;
  height: 650px;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include to(1440px) {
    height: 460px;
  }
  @include to(992px) {
    height: 260px;
  }
  @include to(575px) {
    height: 122px;
  }
}
.equipment-details {
  width: 100%;
  padding: 100px 187px;
  border-top: 1px solid $black;
  display: flex;
  justify-content: space-between;
  @include to(1920px) {
    justify-content: flex-start;
  }
  @include to(1440px) {
    padding: 80px 132px;
  }
  @include to(992px) {
    padding: 60px 82px;
  }
  @include to(575px) {
    padding: 30px 0;
    flex-direction: column;
    border-top: none;
  }
  .title {
    margin-right: 180px;
    @include to(1440px) {
      margin-right: 127px;
    }
    @include to(992px) {
      margin-right: 71px;
    }
    @include to(575px) {
      padding: 0 20px;
      width: 100%;
    }
    h4 {
      font-size: 24px;
      line-height: 150%;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 20px;
      @include to(1440px) {
        font-size: 18px;
      }
      @include to(992px) {
        font-size: 12px;
        width: 113px;
      }
      @include to(575px) {
        margin-bottom: 15px;
        font-size: 24px;
        width: 100%;
      }
    }
  }
  .description-container {
    width: 1400px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    @include to(1920px) {
      width: 1076px;
      margin-left: 0;
    }
    @include to(1440px) {
      width: 767px;
    }
    @include to(992px) {
      width: 421px;
    }
    @include to(575px) {
      width: 100%;
      margin-top: 20px;
    }
  }
  .description {
    width: 100%;
    border-bottom: 1px solid #000000;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    @include to(1440px) {
      padding: 40px 0;
    }
    @include to(992px) {
      flex-direction: column-reverse;
      padding: 30px 0 20px 0;
    }
    @include to(575px) {
      padding: 30px 20px;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
      @include to(575px) {
        border-bottom: 1px solid #000000;
      }
    }
    .equipment-name {
      width: 450px;
      user-select: none;
      @include to(1440px) {
        width: 320px;
      }
      @include to(992px) {
        width: 100%;
      }
      h4 {
        font-size: 48px;
        line-height: 130%;
        color: #000000;
        margin-bottom: 20px;

        @include to(1440px) {
          font-size: 34px;
          margin-bottom: 15px;
        }
        @include to(992px) {
          font-size: 22px;
          margin-bottom: 10px;
          margin-top: 20px;
        }
        @include to(575px) {
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
      p {
        font-size: 24px;
        line-height: 140%;
        letter-spacing: -0.03em;
        color: #595959;
        @include to(1440px) {
          font-size: 18px;
        }
        @include to(992px) {
          font-size: 12px;
        }
        @include to(575px) {
          font-size: 16px;
        }
      }
    }
    .equipment-swiper-container {
      display: flex;
      flex-direction: column;
      width: 450px;
      height: auto;
      user-select: none;
      @include to(1440px) {
        width: 320px;
      }
      @include to(992px) {
        width: 100%;
        margin-bottom: 20px;
      }
      .equipment-swiper {
        width: 450px;
        height: auto;
        overflow: hidden;
        @include to(1440px) {
          width: 320px;
        }
        @include to(992px) {
          width: 100%;
        }
        .swiper-slide {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 450px;
          height: 270px;
          background: #f3f3f6;
          cursor: pointer;
          overflow: hidden;
          @include to(992px) {
            width: 100%;
            height: 250px;
          }
          @include to(575px) {
            height: 170px;
          }
          &:hover {
            @include from(992px) {
              img {
                transform: scale(1.05);
              }
            }
          }
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          // transform: scale(0.6);
          transition: transform 0.5s ease;
        }
      }
      .plagination-container {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        position: relative;
        .swiper-button-next,
        .swiper-button-prev {
          z-index: 10;
          cursor: pointer;
          width: 28px;
          height: 20px;

          svg {
            fill: #000000;
            transition: $transition-fuction;
            .stroke {
              fill: #fff;
              stroke: $black;
              transition: $transition-fuction;
            }
          }
          &:hover {
            @include from(992px) {
              svg {
                fill: $red;
                .stroke {
                  stroke: $red;
                }
              }
            }
          }
        }
        .swiper-pagination {
          position: absolute;
          text-align: center;
          transition: 300ms opacity;
          z-index: 10;
          left: 50%;
          top: 0;
          transform: translate(-50%, 0%);
          font-size: 24px;
          line-height: 140%;
          text-align: center;
          letter-spacing: -0.03em;
          color: #000000;
          user-select: none;
          @include to(1440px) {
            font-size: 18px;
          }
          @include to(992px) {
            font-size: 12px;
          }
          @include to(575px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.equipment-call-back {
  // padding-right: 187px;
  margin: 0 187px 100px auto;
  @include to(1440px) {
    margin: 0 132px 80px auto;
  }
  @include to(992px) {
    margin: 0 82px 60px auto;
  }
  @include to(575px) {
    margin: 0 20px 30px auto;
    margin-left: -20px;
    padding: 0 20px;
  }
}

.more-equipment {
  width: 100%;
  padding: 100px 0 100px 187px;
  border-top: 1px solid #414141;
  position: relative;
  @include to(1440px) {
    padding: 80px 0 80px 132px;
  }
  @include to(992px) {
    padding: 60px 0 60px 82px;
  }
  @include to(575px) {
    padding: 30px 20px 30px 20px;
  }

  h5 {
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
    @include to(1440px) {
      font-size: 18px;
    }
    @include to(992px) {
      font-size: 12px;
    }
  }
  .equipment-more-swiper {
    padding-left: 31vw;
    padding-right: 187px;
    @include to(1920px) {
      padding-left: 470px;
    }
    @include to(1440px) {
      padding-left: 335px;
      padding-right: 132px;
    }
    @include to(992px) {
      padding-left: 184px;
      padding-right: 82px;
    }
    @include to(575px) {
      padding-left: 0;
      padding-top: 40px;
      padding-right: 0px;
    }
  }
  .swiper-slide {
    // width: 43%;
    width: 59%;
    background: $white;
    @include to(575px) {
      width: 85%;
    }
    &-content {
      border: 1px solid #414141;
      .swiper-link {
        text-decoration: none;
        cursor: none;
        img {
          height: 450px;
          transform: scale(0.6);
          object-fit: contain;
          @include to(1440px) {
            height: 320px;
          }
          @include to(992px) {
            height: 177px;
          }
        }
      }
      p {
        font-size: 24px;
        line-height: 140%;
        letter-spacing: -0.03em;
        color: #000000;
        padding: 20px;
        border-top: 1px solid #414141;
        @include to(1440px) {
          font-size: 18px;
          padding: 19px 20px;
        }
        @include to(992px) {
          font-size: 12px;
          padding: 10px 20px;
        }
      }
    }
  }
  .slide-title {
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000000;
    // width: 24.5%;
    border: none;
    position: absolute;
    @include to(1440px) {
      font-size: 18px;
    }
    @include to(992px) {
      font-size: 12px;
    }
    @include to(575px) {
      font-size: 16px;
      margin-top: 0;
    }
    .swiper-slide-content {
      border: none;
      p {
        border: none;
        padding: 0;
      }
    }
  }
}
