.equipment {
  display: grid;
  grid-template-rows: auto 650px;
  grid-template-columns: 658px auto;
  @include to(1440px) {
    grid-template-rows: auto 460px;
    grid-template-columns: 467px auto;
  }
  @include to(992px) {
    grid-template-rows: auto 260px;
    grid-template-columns: 266px auto;
  }
  @include to(575px) {
    grid-template-rows: auto auto 122px;
    grid-template-columns: auto;
  }
  &-title {
    grid-column: 1/2;
    grid-row: 1;
    padding: 100px 0 0 187px;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000000;
    @include to(1440px) {
      padding: 80px 0 0 132px;
      font-size: 18px;
    }
    @include to(992px) {
      padding: 30px 0 0 82px;
      font-size: 12px;
      width: 113px;
    }
    @include to(575px) {
      grid-column: 1/-1;
      grid-row: 1;
      padding: 15px 0 0 20px;
      font-size: 16px;
      width: 100%;
    }
  }
  &-description {
    grid-column: 2/2;
    grid-row: 1;
    padding: 100px 187px 100px 0;
    @include to(1440px) {
      padding: 80px 132px 80px 0;
    }
    @include to(992px) {
      padding: 30px 82px 60px 0;
    }
    @include to(575px) {
      grid-column: 1/-1;
      grid-row: 2;
      padding: 15px 20px 15px 20px;
      font-size: 20px;
    }
    p {
      font-size: 48px;
      line-height: 130%;
      color: #000000;
      // max-width: 1400px;
      width: 100%;
      margin-left: 100px;
      @include to(1920px) {
        // width: 1076px;
        margin-left: 0;
      }
      @include to(1440px) {
        font-size: 34px;
        // width: 767px;
      }
      @include to(992px) {
        font-size: 22px;
        // width: 421px;
      }
      @include to(575px) {
        font-size: 20px;
        width: 100%;
      }
    }
  }
  &-img {
    grid-column: 1/-1;
    grid-row: 2;
    @include to(575px) {
      grid-row: 3;
    }
  }
}

.accordion {
  &.is-open {
    .accordion-noise {
      opacity: 1;
    }
  }
  &-item {
    border-bottom: 1px solid #000000;
    position: relative;
    transition: $transition-fuction;
    overflow: hidden;
    &:hover {
      @include from(992px) {
        border-bottom: 1px solid $red;
        .accordion-arrow {
          svg {
            fill: $red;
            .accordion-arrow-stroke {
              stroke: $red;
              fill: $white;
            }
            circle {
              stroke: $red;
            }
          }
        }
        .accordion-toggle {
          color: $red;
        }
      }
    }
    &.is-open {
      .accordion-noise {
        opacity: 1;
      }
    }
    &.is-open:hover {
      @include from(992px) {
        border-bottom: 1px solid #000000;
        .accordion-toggle {
          color: $black;
        }
        .accordion-arrow {
          svg {
            fill: $white;
            .accordion-arrow-stroke {
              stroke: $white;
              fill: $black;
            }
            circle {
              stroke: $black;
            }
          }
        }
      }
    }
  }
  &-toggle {
    display: block;
    width: 100%;
    cursor: pointer;
    margin: 0;
    border: 0;
    text-align: left;
    font-size: 48px;
    line-height: 130%;
    color: #000000;
    padding: 29px 187px;
    transition: $transition-fuction;
    @include to(1440px) {
      font-size: 34px;
      padding: 24px 132px;
    }
    @include to(992px) {
      font-size: 22px;
      padding: 20px 82px;
    }
    @include to(575px) {
      font-size: 20px;
      padding: 15px 20px;
    }
  }
  &-panel {
    padding: 21px 187px 50px 187px;
    @include to(1440px) {
      padding: 16px 132px 40px 132px;
    }
    @include to(992px) {
      padding: 10px 82px 30px 82px;
    }
    @include to(575px) {
      padding: 0 20px 30px 20px;
    }
  }
  &-arrow {
    position: absolute;
    cursor: pointer;
    right: 187px;
    top: 20px;
    transition: $transition-fuction;
    pointer-events: none;
    @include to(1440px) {
      right: 132px;
      top: 16px;
    }
    @include to(992px) {
      right: 82px;
      top: 14px;
    }
    @include to(575px) {
      right: 20px;
      top: 10px;
    }
    svg {
      width: 80px;
      height: 80px;
      fill: $black;
      transition: $transition-fuction;
      @include to(1440px) {
        width: 60px;
        height: 60px;
      }
      @include to(992px) {
        width: 40px;
        height: 40px;
      }
      @include to(575px) {
        width: 35px;
        height: 35px;
      }
      .accordion-arrow-stroke {
        fill: $white;
        stroke: $black;
        transition: $transition-fuction;
      }
      circle {
        fill: $white;
        transition: $transition-fuction;
      }
    }
    .is-open > & {
      transform: rotate(180deg);
      svg {
        fill: $white;
        .accordion-arrow-stroke {
          fill: $black;
          stroke: $white;
        }
        circle {
          fill: $black;
        }
      }
    }
  }
}
.accordion-noise {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -3;
  background-image: url(../images/noise.png);
  animation: Noise_grain 7s steps(10) infinite;
  height: 300%;
  left: -50%;
  top: -100%;
  width: 300%;
  opacity: 0;
}
.form-button {
  background: none;
  border: none;
  padding: 0%;
  width: 270px;
  height: 74px;
  @include to(1440px) {
    width: 192px;
    height: 52px;
  }
  @include to(992px) {
    width: 136px;
    height: 40px;
  }
  @include to(575px) {
    width: 100%;
    height: 60px;
  }
  .form-button-footer {
    position: relative;
    width: 270px;
    height: 74px;
    @include to(1440px) {
      width: 192px;
      height: 52px;
    }
    @include to(992px) {
      width: 136px;
      height: 40px;
    }
    @include to(575px) {
      width: 100%;
      height: 60px;
    }
  }
  .btn-text {
    font-family: $default-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    white-space: nowrap;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    transition: $transition-fuction;
    @include to(1440px) {
      font-size: 16px;
      top: 40%;
      left: 42%;
      transform: translate(-35%, -40%);
    }
    @include to(992px) {
      font-size: 10px;
    }
    @include to(575px) {
      font-size: 12px;
      transform: translate(-0%, -40%);
    }
  }
  .btn-submite {
    width: 100%;
    height: 100%;
  }
  .hover-fill {
    fill: $red;
    transition: $transition-fuction;
  }
  .hover-shadow {
    transition: $transition-fuction;
    display: none;
  }
  &:hover {
    @include from(992px) {
      .hover-fill {
        // fill: $orange;
        transform: translate(0, 5px);
      }
      .hover-shadow {
        transform: translate(0, -5px);
      }
      .btn-text {
        transform: translate(-50%, -25%);
        @include to(1440px) {
          transform: translate(-35%, -25%);
        }
      }
    }
  }
}
.header-form-button-js {
  .btn-text {
    @include to(575px) {
      transform: translate(-20%, -40%);
    }
  }
}

.panel-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include to(992px) {
    flex-direction: column;
  }
  @include to(575px) {
    flex-direction: column-reverse;
  }
  .description {
    p {
      // width: 450px;
      width: 100%;
      padding-right: 200px;
      // margin-right: 176px;
      padding-bottom: 30px;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: -0.03em;
      color: #000000;
      @include to(1920px) {
        padding-right: 170px;
      }
      @include to(1440px) {
        // width: 335px;
        padding-bottom: 20px;
        font-size: 18px;
        padding-right: 110px;
      }
      @include to(992px) {
        width: 287px;
        font-size: 12px;
        padding-right: 0;
      }
      @include to(575px) {
        width: 100%;
        font-size: 16px;
        margin-top: 15px;
      }
    }
  }
  .description-swiper {
    width: 920px;
    @include to(1440px) {
      width: 655px;
    }
    @include to(992px) {
      width: 100%;
      margin-top: 18px;
    }
    .services-swiper {
      width: 100%;
      height: auto;
      overflow: hidden;

      .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 920px;
        height: 555px;
        @include to(1440px) {
          width: 655px;
          height: 395px;
        }
        @include to(575px) {
          width: 100%;
          height: 170px;
        }
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .plagination-container {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      position: relative;
      user-select: none;
      .swiper-button-next,
      .swiper-button-prev {
        z-index: 10;
        cursor: pointer;
        width: 28px;
        height: 20px;

        svg {
          fill: #000000;
          transition: $transition-fuction;
          .stroke {
            fill: #fff;
            stroke: $black;
            transition: $transition-fuction;
          }
        }
        &:hover {
          @include from(992px) {
            svg {
              fill: $red;
              .stroke {
                stroke: $red;
              }
            }
          }
        }
      }
      .swiper-pagination {
        position: absolute;
        text-align: center;
        transition: 300ms opacity;
        z-index: 10;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0%);
        font-size: 24px;
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.03em;
        color: #000000;
        @include to(1440px) {
          font-size: 18px;
        }
        @include to(992px) {
          font-size: 16px;
        }
      }
    }
  }
}
