.sideform(style="display: none;")
  .horizontal-red 
  .vertical-red-left
  .form-container
    .noise
    .form
      +svg('close').form-close.js-close
      .form-content 
        .form-content-title 
          h1(data-text="Call back").page-title 
            span Call back
        form( action="#" class="feedback-form" data-popup-form)
          .form-field
            .form-field-input(data-field-input data-field-name data-status="field--inactive")
              input(class="input-sideform form-name form-field__input" type="text" name="name" id="callback-form-input-name" class="contact-form-input" placeholder="Your name:" autocomplete="on" value="")
              .input-message(data-input-message)
            .form-field-input(data-field-input data-field-phone data-status="field--inactive")  
              input(class="input-sideform form-tel form-field__input contact-form-input" type="text" id="callback-form-phone" class=""  autocomplete="on" name="phone" inputmode="tel")
              .input-message(data-input-message)
            .form-field-input(data-field-input data-field-email)
              input(class="input-sideform form-email" type="text" name="email" id="callback-form-email" class="contact-form-input" placeholder="E-mail:"  autocomplete="on" value="" inputmode="email")
              .input-message(data-input-message)
            textarea(name="comment" placeholder="Comment:")
          .form-field-confirm
            button(class="form-button header-form-button-js" type="submit" data-btn-submit="data-btn-submit") 
              span(data-btn-submit-text)
              .form-button-footer
                span.btn-text call me back
                <svg  class="btn-submite" viewBox="0 0 420 100" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="hover-shadow" d="M407 97V100H13V97H8V94H4V91H0V36H5V33H9V29H13V24H407V28H411V31H415V35H420V91H416V94H412V97H407Z" fill="#DADADC"/>
                  <rect x="14.5" y="22.1216" width="391" height="57.1081" fill="#F1F1F1" stroke="black"/>
                  <rect x="12.5" y="22.4995" width="395" height="66" fill="#F1F1F1" stroke="black"/>
                  <rect x="8.5" y="24.4995" width="4" height="61" fill="#F1F1F1" stroke="black"/>
                  <rect x="4.5" y="30.4995" width="4" height="52" fill="#F1F1F1" stroke="black"/>
                  <rect x="0.5" y="34.4995" width="4" height="45" fill="#F1F1F1" stroke="black"/>
                  <rect x="-0.5" y="0.5" width="4" height="59" transform="matrix(-1 0 0 1 411 25.9995)" fill="#F1F1F1" stroke="black"/>
                  <rect x="-0.5" y="0.5" width="4" height="51" transform="matrix(-1 0 0 1 415 31.9995)" fill="#F1F1F1" stroke="black"/>
                  <rect x="-0.5" y="0.5" width="4" height="42" transform="matrix(-1 0 0 1 419 37.9995)" fill="#F1F1F1" stroke="black"/>
                  <path class="hover-fill" d="M407 77.5H407.5V77V74.5H411H411.5V74V71.5H415H415.5V71V68.5H419H419.5V68V12V11.5H419H415.5V8V7.5H415H411.5V5V4.5H411H407.5V1V0.5H407H13H12.5V1V5.5H9H8.5V6V9.5H5H4.5V10V12.5H1H0.5V13V68V68.5H1H4.5V71V71.5H5H8.5V74V74.5H9H12.5V77V77.5H13H407Z" stroke="black"/>
                </svg>
    .message 
      .info Leave a call request and our managers will call you soon!
      .underline-wave
  .vertical-red-right
  .horizontal-red-bottom


.form-gratitude
  .horizontal-red 
  .vertical-red-left
  .form-container
    .noise
    .form
      +svg('close').form-close
      .form-content 
        .form-content-title 
          h1(data-text="Thanks").page-title 
            span Thanks
          p our managers will call you soon! Please wait
          .form-field-confirm
            button(class="form-button form-button-js" type="submit") 
              .form-button-footer
                span.btn-text Finish
                <svg  class="btn-submite" viewBox="0 0 420 100" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="hover-shadow" d="M407 97V100H13V97H8V94H4V91H0V36H5V33H9V29H13V24H407V28H411V31H415V35H420V91H416V94H412V97H407Z" fill="#DADADC"/>
                  <rect x="14.5" y="22.1216" width="391" height="57.1081" fill="#F1F1F1" stroke="black"/>
                  <rect x="12.5" y="22.4995" width="395" height="66" fill="#F1F1F1" stroke="black"/>
                  <rect x="8.5" y="24.4995" width="4" height="61" fill="#F1F1F1" stroke="black"/>
                  <rect x="4.5" y="30.4995" width="4" height="52" fill="#F1F1F1" stroke="black"/>
                  <rect x="0.5" y="34.4995" width="4" height="45" fill="#F1F1F1" stroke="black"/>
                  <rect x="-0.5" y="0.5" width="4" height="59" transform="matrix(-1 0 0 1 411 25.9995)" fill="#F1F1F1" stroke="black"/>
                  <rect x="-0.5" y="0.5" width="4" height="51" transform="matrix(-1 0 0 1 415 31.9995)" fill="#F1F1F1" stroke="black"/>
                  <rect x="-0.5" y="0.5" width="4" height="42" transform="matrix(-1 0 0 1 419 37.9995)" fill="#F1F1F1" stroke="black"/>
                  <path class="hover-fill" d="M407 77.5H407.5V77V74.5H411H411.5V74V71.5H415H415.5V71V68.5H419H419.5V68V12V11.5H419H415.5V8V7.5H415H411.5V5V4.5H411H407.5V1V0.5H407H13H12.5V1V5.5H9H8.5V6V9.5H5H4.5V10V12.5H1H0.5V13V68V68.5H1H4.5V71V71.5H5H8.5V74V74.5H9H12.5V77V77.5H13H407Z" stroke="black"/>
                </svg>
    
  .vertical-red-right
  .horizontal-red-bottom




.form-header-call 
  ul
    li
      a(href='tel:+971558449890') +97 (155) 844-98-90
    li 
      button.js-mobile-form Call me back
    li.cancel.js-mobile-close Exit 