.sideform {
  width: 100vw;
  background: white;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  display: grid;
  grid-template-rows: 30px auto 30px;
  grid-template-columns: 30px auto 30px;
  margin-top: 80px;
  height: calc(100vh - 80px);
  @include to(1440px) {
    margin-top: 60px;
    height: calc(100vh - 60px);
    grid-template-rows: 20px auto 20px;
    grid-template-columns: 20px auto 20px;
  }
  // @include to(992px) {
  //   margin-top: 60px;
  //   height: auto;
  //   grid-template-rows: 20px auto 20px;
  //   grid-template-columns: 20px auto 20px;
  // }
  @include to(575px) {
    --vh: 7.87px;
    margin-top: 50px;
    height: calc(100% - 50px);
    // height: calc(var(--vh, 1vh) * 100);
    grid-template-rows: 10px auto 10px;
    grid-template-columns: 10px auto 10px;
  }

  .horizontal-red {
    grid-column: 2/3;
    grid-row: 1;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 2px);
    margin-left: -1px;
  }
  .vertical-red-left {
    grid-column: 1/1;
    grid-row: 2;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 1px);
    margin-left: -1px;
    height: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-top: -1px;
  }
  .form-container {
    grid-column: 1/-1;
    grid-row: 1/-1;
    position: relative;
    overflow: hidden;
    // @include to(992px) {
    //   overflow: auto;
    // }
  }
  .vertical-red-right {
    grid-column: 3/3;
    grid-row: 2;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-top: -1px;
  }
  .horizontal-red-bottom {
    grid-column: 2/3;
    grid-row: 3;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 2px);
    margin-left: -1px;
  }
  .noise {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-image: url(../images/noise.png);
    animation: Noise_grain 7s steps(10) infinite;
    height: 300%;
    left: -50%;
    top: -100%;
    width: 300%;
  }
  .form {
    padding: 150px 187px 120px 187px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    height: 75vh;
    position: relative;
    @media (-webkit-device-pixel-ratio: 1.25) and (min-width: 1320px) {
      padding-top: 75px;
      --side-padding: 150px;
      height: 65vh;
    }
    @include to(1440px) {
      padding: 80px 132px 60px 132px;
      padding-left: var(--side-padding);
      padding-right: var(--side-padding);
    }
    @include to(992px) {
      padding: 50px 82px 60px 82px;
      padding-left: var(--side-padding);
      padding-right: var(--side-padding);
      // height: 80vh;
      height: auto;
    }
    @include to(575px) {
      padding: 25px 20px;
      height: 75vh;
    }
    .form-close {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 50px;
      height: 50px;
      z-index: 4;
      fill: none;
      stroke: $black;
      transition: $transition-fuction;
      cursor: pointer;
      @media (-webkit-device-pixel-ratio: 1.25) and (min-width: 1320px) {
        top: 35px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #f1f1f1;
      }
      @include to(1440px) {
        width: 40px;
        height: 40px;
        top: 40px;
        right: 40px;
      }
      @include to(575px) {
        width: 35px;
        height: 35px;
        top: 35px;
        right: 35px;
      }
      &:hover {
        @include from(992px) {
          stroke: $red;
        }
      }
    }
    .form-content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include to(992px) {
        flex-direction: column;
      }
      &-title {
        width: 50%;
        @include to(992px) {
          width: 100%;
          margin-bottom: 40px;
        }
        @include to(575px) {
          margin-bottom: 20px;
        }
        h1 {
          font-family: $default-font2;
          font-size: 180px;
          line-height: 100%;
          color: #000000;
          display: inline-grid;
          grid-template-areas: 'text';
          text-transform: uppercase;
          @include to(1800px) {
            font-size: 145px;
          }
          @include to(1540px) {
            font-size: 135px;
          }
          @include to(1440px) {
            font-size: 120px;
          }
          @include to(1240px) {
            font-size: 110px;
          }
          @include to(1150px) {
            font-size: 90px;
          }
          @include to(575px) {
            font-size: 50px;
            width: 270px;
          }
          span {
            background: #000000;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 0.01em rgba(0, 0, 0, 0.9);
          }

          & > *,
          &::after {
            grid-area: text;
          }

          &::after {
            content: attr(data-text);
            transform: translate(10px, 10px);
            @include to(1440px) {
              transform: translate(6px, 6px);
            }
            @include to(575px) {
              transform: translate(3px, 3px);
            }
          }

          &::after {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px #000000;
            z-index: -2;
            @include to(575px) {
              -webkit-text-stroke: 1px #000000;
            }
          }
        }
      }
      .feedback-form {
        width: 44%;
        @include to(992px) {
          width: 100%;
        }
        .input-sideform {
          width: 100%;
          height: 68px;
          margin-bottom: 30px;
          padding-left: 40px;
          font-size: 24px;
          line-height: 100%;
          letter-spacing: -0.03em;
          font-weight: 700;
          color: #000000;
          background: $white !important;
          position: relative;
          @media (-webkit-device-pixel-ratio: 1.25) and (min-width: 1320px) {
            height: 48px;
            font-size: 16px;
            margin-bottom: 15px;
          }
          @include to(1440px) {
            // width: 573px;
            height: 68px;
            margin-bottom: 20px;
            padding-left: 30px;
            font-size: 18px;
            background: $white !important;
          }
          @include to(575px) {
            width: 100%;
            height: 50px;
            margin-bottom: 15px;
            padding-left: 20px;
            font-size: 16px;
            background: $white !important;
          }

          &::placeholder {
            font-size: 24px;
            line-height: 100%;
            letter-spacing: -0.03em;
            color: #000000;
            @media (-webkit-device-pixel-ratio: 1.25) and (min-width: 1320px) {
              font-size: 16px;
            }
            @include to(1440px) {
              font-size: 18px;
            }
            @include to(575px) {
              font-size: 16px;
            }
          }
        }
        [data-status="field--error"] .input-sideform {
          border-color: #ff2800;
        }
        .form-field-confirm {
          width: 420px;
          height: 100px;
          margin-top: 10px;
          @media (-webkit-device-pixel-ratio: 1.25) and (min-width: 1320px) {
            width: 300px;
            height: 79px;
          }
          @include to(1440px) {
            width: 300px;
            height: 79px;
          }
          @include to(575px) {
            width: 100%;
            height: 64px;
          }
          .form-button-footer {
            width: 420px;
            height: 100px;
            @include to(1440px) {
              width: 300px;
              height: 79px;
            }
            @include to(575px) {
              width: 100%;
              height: 64px;
            }
          }
        }

        textarea {
          resize: none;
          width: 100%;
          height: 110px;
          color: #000;
          font-size: 24px;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: -0.03em;
          padding-left: 40px;
          padding-top: 22px;
          @media (-webkit-device-pixel-ratio: 1.25) and (min-width: 1320px) {
            font-size: 16px;
          }
          @include to(1440px){
            font-size: 18px;
            padding-left: 30px;
          }
          &::placeholder {
            color: #000;
          }
        }
      }
    }
  }
  .message {
    width: 100%;
    border-top: 1px solid #000000;
    padding-left: 187px;
    @include to(1440px) {
      padding-left: 132px;
    }
    @include to(992px) {
      padding-left: 82px;
    }
    @include to(575px) {
      padding-left: 20px;
    }
    .info {
      width: 435px;
      font-size: 24px;
      line-height: 140%;
      text-transform: uppercase;
      color: #000000;
      padding: 10px 30px;
      border: 1px solid #000000;
      border-top: none;
      border-bottom: none;
      background: #f1f1f1;
      @include to(1440px) {
        width: 328px;
        padding: 14px 24px;
        font-size: 18px;
      }
      @include to(575px) {
        width: calc(100% - 20px);
        padding: 13px 45px;
        font-size: 12px;
      }
    }
    .underline-wave {
      height: 5px;
      width: 435px;
      background-image: url(../images/wave.svg);
      background-size: contain;
      background-repeat: repeat;
      margin-top: -3px;
      @include to(1440px) {
        width: 328px;
      }
      @include to(575px) {
        width: calc(100% - 20px);
      }
    }
  }
}
.sideform-active {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.sideform-active ~ header .header-nav .header-call {
  display: none;
}

.form-gratitude {
  width: 100vw;
  background: white;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  display: grid;
  grid-template-rows: 30px auto 30px;
  grid-template-columns: 30px auto 30px;
  height: calc(100vh - 80px);
  margin-top: 80px;
  @include to(1440px) {
    margin-top: 60px;
    height: calc(100vh - 60px);
    grid-template-rows: 20px auto 20px;
    grid-template-columns: 20px auto 20px;
  }
  @include to(575px) {
    margin-top: 50px;
    height: calc(100vh - 50px);
    grid-template-rows: 10px auto 10px;
    grid-template-columns: 10px auto 10px;
  }
  &.form-gratitude-active {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
  .horizontal-red {
    grid-column: 2/3;
    grid-row: 1;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 2px);
    margin-left: -1px;
  }
  .vertical-red-left {
    grid-column: 1/1;
    grid-row: 2;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 1px);
    margin-left: -1px;
    height: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-top: -1px;
  }
  .form-container {
    grid-column: 1/-1;
    grid-row: 1/-1;
    position: relative;
    overflow: hidden;
  }
  .vertical-red-right {
    grid-column: 3/3;
    grid-row: 2;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-top: -1px;
  }
  .horizontal-red-bottom {
    grid-column: 2/3;
    grid-row: 3;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 2px);
    margin-left: -1px;
  }
  .noise {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-image: url(../images/noise.png);
    animation: Noise_grain 7s steps(10) infinite;
    height: 300%;
    left: -50%;
    top: -100%;
    width: 300%;
  }
  .form {
    position: relative;
    height: 100%;

    .form-close {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 50px;
      height: 50px;
      fill: none;
      stroke: $black;
      transition: $transition-fuction;
      cursor: pointer;
      @include to(1440px) {
        width: 40px;
        height: 40px;
        top: 40px;
        right: 40px;
      }
      @include to(575px) {
        width: 35px;
        height: 35px;
        top: 35px;
        right: 35px;
      }
      &:hover {
        @include from(992px) {
          stroke: $red;
        }
      }
    }
    .form-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-family: $default-font2;
          font-size: 180px;
          line-height: 100%;
          color: #000000;
          display: inline-grid;
          grid-template-areas: 'text';
          text-transform: uppercase;
          @include to(1440px) {
            font-size: 120px;
          }
          @include to(575px) {
            font-size: 50px;
            width: 270px;
          }
          span {
            background: #000000;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 0.01em rgba(0, 0, 0, 0.9);
          }

          & > *,
          &::after {
            grid-area: text;
          }

          &::after {
            content: attr(data-text);
            transform: translate(10px, 10px);
            @include to(1440px) {
              transform: translate(6px, 6px);
            }
            @include to(575px) {
              transform: translate(3px, 3px);
            }
          }

          &::after {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px #000000;
            z-index: -2;
          }
        }
        p {
          font-size: 24px;
          line-height: 140%;
          text-transform: uppercase;
          text-align: center;
          color: #000000;
          margin-top: 50px;
          width: 342px;
          @include to(1440px) {
            font-size: 20px;
            margin-top: 40px;
          }
          @include to(575px) {
            font-size: 16px;
            margin-top: 20px;
          }
        }
      }
      .form-field-confirm {
        width: 420px;
        height: 100px;
        margin-top: 40px;
        @include to(1440px) {
          width: 300px;
          height: 79px;
          margin-top: 30px;
        }
        @include to(575px) {
          width: calc(100% - 40px);
          height: 64px;
        }
        .form-button-footer {
          width: 420px;
          height: 100px;
          @include to(1440px) {
            width: 300px;
            height: 79px;
          }
          @include to(575px) {
            width: 100%;
            height: 64px;
          }
        }
      }
    }
  }
  .form-button .btn-text {
    @include to(1440px) {
      transform: translate(0%, -40%);
    }
  }
  .form-button:hover .btn-text {
    @include to(1440px) {
      transform: translate(0%, -20%);
    }
    @include to(992px) {
      transform: translate(0%, -40%);
    }
  }
}

.form-header-call {
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  // height: calc(100% - 50px);
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  &.sideform-active {
    opacity: 1;
    visibility: visible;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  li {
    width: 100%;
    height: 50px;
    background: #f4f7f9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    font-size: 15px;
    line-height: 100%;
    color: $black;
    a {
      width: 100%;
      height: 50px;
      font-size: 15px;
      line-height: 100%;
      color: $black;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  button {
    width: 100%;
    height: 50px;
    border: none;
    background: none;
    font-family: $default-font;
    padding: 0;
    font-size: 15px;
    line-height: 100%;
    color: $black;
  }
  .cancel {
    background: $red;
    color: $white;
  }
}
.input-message {
  display: none;
}
.feedback-form {
  .form-field-input {
    position: relative;
  }
  .input-message {
    // display: none;
    font-size: 12px;
    line-height: 100%;
    color: #ff2800;
    position: absolute;
    display: initial;
    left: 0;
    bottom: 0;
    font-family: $default-font;
  }
}
[data-btn-submit-text] {
  display: none !important;
}
