footer 
  .footer-content
    .footer-content-left
      ul.footer-content-left-list
        li.footer-content-left-item
          a(href="index.html" data-text="Home")
            span Home
        li.footer-content-left-item
          a(href="works.html" data-text="Works")
            span Works
        li.footer-content-left-item
          a(href="about.html" data-text="About")
            span About
        li.footer-content-left-item
          a(href="services.html" data-text="services")
            span services
        li.footer-content-left-item
          a(href="equipment.html" data-text="Equipment")
            span Equipment
        li.footer-content-left-item
          a(href="contacts.html" data-text="Contacts")
            span Contacts

      a(href="downloads.html").download-link Downloads
    .footer-content-right
      ul.footer-content-right-list
        li.footer-content-right-item
          p.title Middle East Branch:
          a(href="https://goo.gl/maps/knAS6HFbQWiVUQTZA" target="_blank").description
            span Dubai, United Arab Emirates
        li.footer-content-right-item
          p.title Phone:
          a(href="tel:+971558449890").description +971 (55) 844-98-90
        li.footer-content-right-item
          p.title Email:
          a(href="mailto:ls@uaelaser.com").description ls@uaelaser.com
        li.footer-content-right-item
          p.title Distributor
          p.distributor Kvant
          p.distributor Pangolin laser systems
      .footer-social 
        h5 Get Social:
        ul
          li.footer-social-item 
            a(href="#") Telegram
          li.footer-social-item 
            a(href="#") WhatsApp
          li.footer-social-item 
            a(href="#") Instagram
          li.footer-social-item 
            a(href="#") Facebook
          li.footer-social-item 
            a(href="#") Youtube 
    .arrow-up.js-btn-up
      .progress
        <svg class="btn-circle" viewBox="0 0 200 200">
          <circle class="circle" cx="100" cy="100" r="95" stroke-width="2" fill-opacity="0" />
        </svg>
        <svg class="arrow" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="16" y="12" width="4" height="4" transform="rotate(-90 16 12)" />
            <rect x="12" y="8" width="4" height="4" transform="rotate(-90 12 8)" />
            <rect x="8" y="4" width="4" height="4" transform="rotate(-90 8 4)" />
            <rect x="8.5" y="27.5" width="27" height="3" transform="rotate(-90 8.5 27.5)"/>
            <rect x="4" y="8" width="4" height="4" transform="rotate(-90 4 8)" />
            <rect y="12" width="4" height="4" transform="rotate(-90 0 12)" />
        </svg>
  .footer-form
    //- h3.sticker.sticker-lg(data-text="Leave a call request and our managers will call you soon!") Leave a call request and our managers will call you soon!
    h3.sticker.sticker-lg( data-text="Leave a call request and our managers will call you soon!") Leave a call request and our managers will call you soon!

    //- <span class="sticker sticker-lg" data-text="CSS"><span>CSS</span></span>


    form(action="#" class="contact-form" data-footer-form)
      .form-field(data-field-input data-field-phone)
        //- label(for="tel") 
        input(type="tel" name="phone" id="callback-form-input-phone" class="contact-form-input"  autocomplete="on")
        .input-message(data-input-message)

        button(class="form-button form-button-js" type="submit" data-btn-submit="data-btn-submit") 
          .form-button-footer
            span.btn-text Call me back
            <svg  class="btn-submite" viewBox="0 0 420 100" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
              <path class="hover-shadow" d="M407 97V100H13V97H8V94H4V91H0V36H5V33H9V29H13V24H407V28H411V31H415V35H420V91H416V94H412V97H407Z" fill="#DADADC"/>
              <rect x="14.5" y="22.1216" width="391" height="57.1081" fill="#F1F1F1" stroke="black"/>
              <rect x="12.5" y="22.4995" width="395" height="66" fill="#F1F1F1" stroke="black"/>
              <rect x="8.5" y="24.4995" width="4" height="61" fill="#F1F1F1" stroke="black"/>
              <rect x="4.5" y="30.4995" width="4" height="52" fill="#F1F1F1" stroke="black"/>
              <rect x="0.5" y="34.4995" width="4" height="45" fill="#F1F1F1" stroke="black"/>
              <rect x="-0.5" y="0.5" width="4" height="59" transform="matrix(-1 0 0 1 411 25.9995)" fill="#F1F1F1" stroke="black"/>
              <rect x="-0.5" y="0.5" width="4" height="51" transform="matrix(-1 0 0 1 415 31.9995)" fill="#F1F1F1" stroke="black"/>
              <rect x="-0.5" y="0.5" width="4" height="42" transform="matrix(-1 0 0 1 419 37.9995)" fill="#F1F1F1" stroke="black"/>
              <path class="hover-fill" d="M407 77.5H407.5V77V74.5H411H411.5V74V71.5H415H415.5V71V68.5H419H419.5V68V12V11.5H419H415.5V8V7.5H415H411.5V5V4.5H411H407.5V1V0.5H407H13H12.5V1V5.5H9H8.5V6V9.5H5H4.5V10V12.5H1H0.5V13V68V68.5H1H4.5V71V71.5H5H8.5V74V74.5H9H12.5V77V77.5H13H407Z" stroke="black"/>
            </svg>
  .footer-rights-reserved
    .footer-rights © 2017 - 2021 Laser Saga Productions.
    .footer-dev
      a(href="https://smarto.agency/" rel="nofollow" target="_blank") 
         +svg('smarto')
        
