
extends ../layout/main
block variable
block meta
  title= 'Downloads'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/menu.js')
  script(defer src='./assets/scripts/footer.js')
block content
  .container-page-header
    .horizontal-red 
    .vertical-red-left 
    .page-header
      .noise
      .page-header-content
        ul.breadcrumbs 
          li.breadcrumbs-item 
            a(href="main.html") 
              span Home
          li.breadcrumbs-item.breadcrumbs-item-active 
            a(href="downloads.html") 
              span Downloads
        h2(data-text="Downloads").page-title 
          span Downloads 
    .vertical-red-right
    .horizontal-red-bottom 
  
  .downloads-container 
    h5 Browsing catalogs
    ul.downloads-list
      li.downloads-item
        a(href="#")
          span Product catalog 2017
          //- +svg('arrowsPDF')
          <svg viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="39.5" transform="rotate(-180 40 40)" />
            <path class="fill" d="M16.918 44.9998V32.7566H21.9014C23.208 32.7566 24.1748 33.073 24.8018 33.7058C25.4287 34.3328 25.7422 35.3259 25.7422 36.6853C25.7422 37.9802 25.3936 38.9587 24.6963 39.6208C23.999 40.2771 23.0732 40.6052 21.9189 40.6052H19.2559V44.9998H16.918ZM19.2559 38.6277H22.1562C22.5664 38.6277 22.8594 38.5251 23.0352 38.3201C23.2168 38.115 23.3076 37.8103 23.3076 37.406V35.8943C23.3076 35.4841 23.2227 35.1912 23.0527 35.0154C22.8887 34.8337 22.5898 34.7429 22.1562 34.7429H19.2559V38.6277ZM27.9219 44.9998V32.7566H32.0615C33.9951 32.7566 35.3838 33.2634 36.2275 34.2771C37.0771 35.2908 37.502 36.8259 37.502 38.8826C37.502 40.9333 37.0771 42.4656 36.2275 43.4792C35.3838 44.4929 33.9951 44.9998 32.0615 44.9998H27.9219ZM30.2598 43.0222H32.0615C33.0342 43.0222 33.7783 42.8318 34.2939 42.4509C34.8096 42.0642 35.0674 41.4607 35.0674 40.6404V37.116C35.0674 36.3015 34.8096 35.7039 34.2939 35.323C33.7783 34.9363 33.0342 34.7429 32.0615 34.7429H30.2598V43.0222ZM40.0332 44.9998V32.7566H47.8467V34.7429H42.3711V37.7488H47.416V39.7263H42.3711V44.9998H40.0332Z"/>
            <path d="M54 40L59 44.9998M59 44.9998L63.9998 40M59 44.9998V33" stroke-width="1.7"/>
          </svg>

      li.downloads-item
        a(href="#")
          span Modern educational equipment by Kvant 2019 (english version) 
          <svg viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="39.5" transform="rotate(-180 40 40)" />
            <path class="fill" d="M16.918 44.9998V32.7566H21.9014C23.208 32.7566 24.1748 33.073 24.8018 33.7058C25.4287 34.3328 25.7422 35.3259 25.7422 36.6853C25.7422 37.9802 25.3936 38.9587 24.6963 39.6208C23.999 40.2771 23.0732 40.6052 21.9189 40.6052H19.2559V44.9998H16.918ZM19.2559 38.6277H22.1562C22.5664 38.6277 22.8594 38.5251 23.0352 38.3201C23.2168 38.115 23.3076 37.8103 23.3076 37.406V35.8943C23.3076 35.4841 23.2227 35.1912 23.0527 35.0154C22.8887 34.8337 22.5898 34.7429 22.1562 34.7429H19.2559V38.6277ZM27.9219 44.9998V32.7566H32.0615C33.9951 32.7566 35.3838 33.2634 36.2275 34.2771C37.0771 35.2908 37.502 36.8259 37.502 38.8826C37.502 40.9333 37.0771 42.4656 36.2275 43.4792C35.3838 44.4929 33.9951 44.9998 32.0615 44.9998H27.9219ZM30.2598 43.0222H32.0615C33.0342 43.0222 33.7783 42.8318 34.2939 42.4509C34.8096 42.0642 35.0674 41.4607 35.0674 40.6404V37.116C35.0674 36.3015 34.8096 35.7039 34.2939 35.323C33.7783 34.9363 33.0342 34.7429 32.0615 34.7429H30.2598V43.0222ZM40.0332 44.9998V32.7566H47.8467V34.7429H42.3711V37.7488H47.416V39.7263H42.3711V44.9998H40.0332Z"/>
            <path d="M54 40L59 44.9998M59 44.9998L63.9998 40M59 44.9998V33" stroke-width="1.7"/>
          </svg>
      li.downloads-item
        a(href="#")
          span Catalog of teaching aids
          <svg viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="39.5" transform="rotate(-180 40 40)" />
            <path class="fill" d="M16.918 44.9998V32.7566H21.9014C23.208 32.7566 24.1748 33.073 24.8018 33.7058C25.4287 34.3328 25.7422 35.3259 25.7422 36.6853C25.7422 37.9802 25.3936 38.9587 24.6963 39.6208C23.999 40.2771 23.0732 40.6052 21.9189 40.6052H19.2559V44.9998H16.918ZM19.2559 38.6277H22.1562C22.5664 38.6277 22.8594 38.5251 23.0352 38.3201C23.2168 38.115 23.3076 37.8103 23.3076 37.406V35.8943C23.3076 35.4841 23.2227 35.1912 23.0527 35.0154C22.8887 34.8337 22.5898 34.7429 22.1562 34.7429H19.2559V38.6277ZM27.9219 44.9998V32.7566H32.0615C33.9951 32.7566 35.3838 33.2634 36.2275 34.2771C37.0771 35.2908 37.502 36.8259 37.502 38.8826C37.502 40.9333 37.0771 42.4656 36.2275 43.4792C35.3838 44.4929 33.9951 44.9998 32.0615 44.9998H27.9219ZM30.2598 43.0222H32.0615C33.0342 43.0222 33.7783 42.8318 34.2939 42.4509C34.8096 42.0642 35.0674 41.4607 35.0674 40.6404V37.116C35.0674 36.3015 34.8096 35.7039 34.2939 35.323C33.7783 34.9363 33.0342 34.7429 32.0615 34.7429H30.2598V43.0222ZM40.0332 44.9998V32.7566H47.8467V34.7429H42.3711V37.7488H47.416V39.7263H42.3711V44.9998H40.0332Z"/>
            <path d="M54 40L59 44.9998M59 44.9998L63.9998 40M59 44.9998V33" stroke-width="1.7"/>
          </svg>
      li.downloads-item
        a(href="#")
          span KVANT departments and contents /english version/
          <svg viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="39.5" transform="rotate(-180 40 40)" />
            <path class="fill" d="M16.918 44.9998V32.7566H21.9014C23.208 32.7566 24.1748 33.073 24.8018 33.7058C25.4287 34.3328 25.7422 35.3259 25.7422 36.6853C25.7422 37.9802 25.3936 38.9587 24.6963 39.6208C23.999 40.2771 23.0732 40.6052 21.9189 40.6052H19.2559V44.9998H16.918ZM19.2559 38.6277H22.1562C22.5664 38.6277 22.8594 38.5251 23.0352 38.3201C23.2168 38.115 23.3076 37.8103 23.3076 37.406V35.8943C23.3076 35.4841 23.2227 35.1912 23.0527 35.0154C22.8887 34.8337 22.5898 34.7429 22.1562 34.7429H19.2559V38.6277ZM27.9219 44.9998V32.7566H32.0615C33.9951 32.7566 35.3838 33.2634 36.2275 34.2771C37.0771 35.2908 37.502 36.8259 37.502 38.8826C37.502 40.9333 37.0771 42.4656 36.2275 43.4792C35.3838 44.4929 33.9951 44.9998 32.0615 44.9998H27.9219ZM30.2598 43.0222H32.0615C33.0342 43.0222 33.7783 42.8318 34.2939 42.4509C34.8096 42.0642 35.0674 41.4607 35.0674 40.6404V37.116C35.0674 36.3015 34.8096 35.7039 34.2939 35.323C33.7783 34.9363 33.0342 34.7429 32.0615 34.7429H30.2598V43.0222ZM40.0332 44.9998V32.7566H47.8467V34.7429H42.3711V37.7488H47.416V39.7263H42.3711V44.9998H40.0332Z"/>
            <path d="M54 40L59 44.9998M59 44.9998L63.9998 40M59 44.9998V33" stroke-width="1.7"/>
          </svg>
      li.downloads-item
        a(href="#")
          span Scientific exhibits
          <svg viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="39.5" transform="rotate(-180 40 40)" />
            <path class="fill" d="M16.918 44.9998V32.7566H21.9014C23.208 32.7566 24.1748 33.073 24.8018 33.7058C25.4287 34.3328 25.7422 35.3259 25.7422 36.6853C25.7422 37.9802 25.3936 38.9587 24.6963 39.6208C23.999 40.2771 23.0732 40.6052 21.9189 40.6052H19.2559V44.9998H16.918ZM19.2559 38.6277H22.1562C22.5664 38.6277 22.8594 38.5251 23.0352 38.3201C23.2168 38.115 23.3076 37.8103 23.3076 37.406V35.8943C23.3076 35.4841 23.2227 35.1912 23.0527 35.0154C22.8887 34.8337 22.5898 34.7429 22.1562 34.7429H19.2559V38.6277ZM27.9219 44.9998V32.7566H32.0615C33.9951 32.7566 35.3838 33.2634 36.2275 34.2771C37.0771 35.2908 37.502 36.8259 37.502 38.8826C37.502 40.9333 37.0771 42.4656 36.2275 43.4792C35.3838 44.4929 33.9951 44.9998 32.0615 44.9998H27.9219ZM30.2598 43.0222H32.0615C33.0342 43.0222 33.7783 42.8318 34.2939 42.4509C34.8096 42.0642 35.0674 41.4607 35.0674 40.6404V37.116C35.0674 36.3015 34.8096 35.7039 34.2939 35.323C33.7783 34.9363 33.0342 34.7429 32.0615 34.7429H30.2598V43.0222ZM40.0332 44.9998V32.7566H47.8467V34.7429H42.3711V37.7488H47.416V39.7263H42.3711V44.9998H40.0332Z"/>
            <path d="M54 40L59 44.9998M59 44.9998L63.9998 40M59 44.9998V33" stroke-width="1.7"/>
          </svg>
    h5 Presentations
    ul.downloads-list
      li.downloads-item
        a(href="#")
          span Aurelium - Experience Science Center - presentation / english version /
          <svg viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="39.5" transform="rotate(-180 40 40)" />
            <path class="fill" d="M16.918 44.9998V32.7566H21.9014C23.208 32.7566 24.1748 33.073 24.8018 33.7058C25.4287 34.3328 25.7422 35.3259 25.7422 36.6853C25.7422 37.9802 25.3936 38.9587 24.6963 39.6208C23.999 40.2771 23.0732 40.6052 21.9189 40.6052H19.2559V44.9998H16.918ZM19.2559 38.6277H22.1562C22.5664 38.6277 22.8594 38.5251 23.0352 38.3201C23.2168 38.115 23.3076 37.8103 23.3076 37.406V35.8943C23.3076 35.4841 23.2227 35.1912 23.0527 35.0154C22.8887 34.8337 22.5898 34.7429 22.1562 34.7429H19.2559V38.6277ZM27.9219 44.9998V32.7566H32.0615C33.9951 32.7566 35.3838 33.2634 36.2275 34.2771C37.0771 35.2908 37.502 36.8259 37.502 38.8826C37.502 40.9333 37.0771 42.4656 36.2275 43.4792C35.3838 44.4929 33.9951 44.9998 32.0615 44.9998H27.9219ZM30.2598 43.0222H32.0615C33.0342 43.0222 33.7783 42.8318 34.2939 42.4509C34.8096 42.0642 35.0674 41.4607 35.0674 40.6404V37.116C35.0674 36.3015 34.8096 35.7039 34.2939 35.323C33.7783 34.9363 33.0342 34.7429 32.0615 34.7429H30.2598V43.0222ZM40.0332 44.9998V32.7566H47.8467V34.7429H42.3711V37.7488H47.416V39.7263H42.3711V44.9998H40.0332Z"/>
            <path d="M54 40L59 44.9998M59 44.9998L63.9998 40M59 44.9998V33" stroke-width="1.7"/>
          </svg>
      li.downloads-item
        a(href="#")
          span Technical and Science Center, Košice, Slovakia (VTC) / english version /
          <svg viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="39.5" transform="rotate(-180 40 40)" />
            <path class="fill" d="M16.918 44.9998V32.7566H21.9014C23.208 32.7566 24.1748 33.073 24.8018 33.7058C25.4287 34.3328 25.7422 35.3259 25.7422 36.6853C25.7422 37.9802 25.3936 38.9587 24.6963 39.6208C23.999 40.2771 23.0732 40.6052 21.9189 40.6052H19.2559V44.9998H16.918ZM19.2559 38.6277H22.1562C22.5664 38.6277 22.8594 38.5251 23.0352 38.3201C23.2168 38.115 23.3076 37.8103 23.3076 37.406V35.8943C23.3076 35.4841 23.2227 35.1912 23.0527 35.0154C22.8887 34.8337 22.5898 34.7429 22.1562 34.7429H19.2559V38.6277ZM27.9219 44.9998V32.7566H32.0615C33.9951 32.7566 35.3838 33.2634 36.2275 34.2771C37.0771 35.2908 37.502 36.8259 37.502 38.8826C37.502 40.9333 37.0771 42.4656 36.2275 43.4792C35.3838 44.4929 33.9951 44.9998 32.0615 44.9998H27.9219ZM30.2598 43.0222H32.0615C33.0342 43.0222 33.7783 42.8318 34.2939 42.4509C34.8096 42.0642 35.0674 41.4607 35.0674 40.6404V37.116C35.0674 36.3015 34.8096 35.7039 34.2939 35.323C33.7783 34.9363 33.0342 34.7429 32.0615 34.7429H30.2598V43.0222ZM40.0332 44.9998V32.7566H47.8467V34.7429H42.3711V37.7488H47.416V39.7263H42.3711V44.9998H40.0332Z"/>
            <path d="M54 40L59 44.9998M59 44.9998L63.9998 40M59 44.9998V33" stroke-width="1.7"/>
          </svg>
      li.downloads-item
        a(href="#")
          span Complete didactic equipment (www.skola.sk) / english version /
          <svg viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="39.5" transform="rotate(-180 40 40)" />
            <path class="fill" d="M16.918 44.9998V32.7566H21.9014C23.208 32.7566 24.1748 33.073 24.8018 33.7058C25.4287 34.3328 25.7422 35.3259 25.7422 36.6853C25.7422 37.9802 25.3936 38.9587 24.6963 39.6208C23.999 40.2771 23.0732 40.6052 21.9189 40.6052H19.2559V44.9998H16.918ZM19.2559 38.6277H22.1562C22.5664 38.6277 22.8594 38.5251 23.0352 38.3201C23.2168 38.115 23.3076 37.8103 23.3076 37.406V35.8943C23.3076 35.4841 23.2227 35.1912 23.0527 35.0154C22.8887 34.8337 22.5898 34.7429 22.1562 34.7429H19.2559V38.6277ZM27.9219 44.9998V32.7566H32.0615C33.9951 32.7566 35.3838 33.2634 36.2275 34.2771C37.0771 35.2908 37.502 36.8259 37.502 38.8826C37.502 40.9333 37.0771 42.4656 36.2275 43.4792C35.3838 44.4929 33.9951 44.9998 32.0615 44.9998H27.9219ZM30.2598 43.0222H32.0615C33.0342 43.0222 33.7783 42.8318 34.2939 42.4509C34.8096 42.0642 35.0674 41.4607 35.0674 40.6404V37.116C35.0674 36.3015 34.8096 35.7039 34.2939 35.323C33.7783 34.9363 33.0342 34.7429 32.0615 34.7429H30.2598V43.0222ZM40.0332 44.9998V32.7566H47.8467V34.7429H42.3711V37.7488H47.416V39.7263H42.3711V44.9998H40.0332Z"/>
            <path d="M54 40L59 44.9998M59 44.9998L63.9998 40M59 44.9998V33" stroke-width="1.7"/>
          </svg>

block header
  include ../includes/header.pug

block footer
  include ../includes/footer.pug


