//- .lang-block
//-   ul 
//-     li
//-       a(href="index-ru.html") рус
//-     li.active.js-lang
//-       a(href='index.html') Укр
//-         <svg class="lang-arrow" width="6" height="4" viewBox="0 0 6 4" xmlns="http://www.w3.org/2000/svg">
//-           <path d="M3 4L0 0H6L3 4Z"/>
//-         </svg>
//-     li
//-       a(href="index-ru.html") Eng
